.flex-container {
    --spacing: 20px;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--spacing);
    padding: var(--spacing);
    height: 500px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.flex-container-colume {
    background-color: blanchedalmond;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    height: 500px;
    gap: 20px;

}

.flex-item {
    --box-size: 50px;
    width: var(--box-size);
    height: var(--box-size);
    background-color: rgb(205, 151, 255);
    
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}