html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
}

.box {
    background-color: violet;
    width: 5rem;
    height: 5rem;
    margin: 0.5rem;
    display: grid;
    place-items: center;
}

.absolute {
    background-color: aquamarine;
    position: absolute;
    right: 20px;
    top: 400px;
}

.fixed {
    position: fixed;
    background-color: orangered;
    right: 0;
    bottom: 300px;
}

.relative {
    background-color:olivedrab;
    color: white;
    position: relative;
    width: 10rem;
    height: 10rem;
    display: block;
}

.child {
   width: 50%;
   height: 50%;
   margin: 0;
   position: absolute;
   top: 0;
   right: 0;
}

.sticky {
    background-color: blue;
    color: aliceblue;
    position: sticky;
    top: 50px;
}